@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

.App {
  text-align: center;
  font-family: 'Della Respira', serif;
}

.btn {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  background: white;
  outline: none;
  outline-style: none;
  padding: 10px;
  font-family: 'Della Respira', serif;
  margin-top: 20px;
  font-size: 20px;
}

.btn:hover {
  background: black;
  color: white;
  transition: 0.5s;
  transform: scale(1.2);
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
